@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-segundaria: #F6F6F6;
    --cor-terciaria: #b321a5;
    --cor-hover: #a71398b6;
    --cor-inativa: #444444;  

    --fonte-primaria: 'Kaushan Script', cursive;
    --fonte-segundaria: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 3% 0% 0% 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-align: center;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    margin: 4% 8%;
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 84%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-segundaria);
    text-align: justify;
    text-indent: 2em;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.apresentacao__links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0% 12%;
    gap: 20px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 220px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-segundaria);
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__link__img {
    width: 34px;
}

.foto-perfil{
    width: 20%;
    display: flex;
    align-content: flex-start;
}

.cartoes{
    display: flex;
    flex-wrap: wrap;
    margin: 8%;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: var(--cor-segundaria);
    margin: 2%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px var(--cor-inativa);
}

.imagem__cartao {
    background-color: var(--cor-inativa);
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    text-align: center;
    font-family: var(--fonte-segundaria);
}

.legenda__imagem__cartao {
    padding: 0% 2% 2%;
    color: var(--cor-primaria);
    font-family: var(--fonte-segundaria);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.rodape {
    padding: 16px;
    color: var(--cor-segundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 18px;
    font-weight: 400;
}